.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #0069d9;
}

.redButton {
    background-color: red;
    width: 50%;
    margin: 0 auto  ;
}

.redButton:hover {
    background-color: #b30000;
}
