.table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

 th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

ht {
    background-color: #f2f2f2;
}

.imagem {
    width: 100px;
}